* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    padding: 20px;
}

.site-title {
    text-align: center;
    margin: 20px 0;
    padding: 10px;
    background-color: #333;
    color: #fff;
}

.main-header {
    background: #333;
    color: #fff;
    padding: 10px 20px;
}

.navbar {
    display: flex;
    justify-content: center;
}

.nav-link {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.nav-link.active {
    border-bottom: 2px solid white;
}

.business-card {
    width: 350px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    border: 5px solid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}

.card-content h1 {
    margin-top: 0;
    color: #333;
}

.card-content p {
    color: #555;
    line-height: 1.5;
}

.contact-info p,
.social-media a {
    display: block;
    margin: 10px 0;
    color: #0077cc;
    text-decoration: none;
}

.social-media a:hover {
    text-decoration: underline;
}


/* Responsive tweaks may be needed based on actual content */